::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #666;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg,#fa920098, #b10819a9);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(0deg,#FA9300,#B10819);;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
a:hover,a:focus{
    text-decoration: none;
    outline: unset;
}
.no-padding{
    padding: 0;
}
.header .header-top{
    border-top: 5px solid #FA9300;
    padding: 20px 0;
    background-color: #B10819;
}
.header .header-top .contact ul,.header .header-top .social ul{
    display: flex;
    padding: 0;
    margin: 0;
}
.header .header-top .social ul{
    justify-content: flex-end;
}
.header .header-top .contact ul li,.header .header-top .social ul li{
    color: #fff;
    display: block;
    padding-right:20px;
    font-size: 18px;
}
.header .header-top .contact ul li i{
    color: #FA9300;
}
.header .header-top .social ul li a{
    color: #FA9300;
    font-size: 20px;
}
.header .navbar{
    background-color: #fff !important;
    padding: 0;
}
.header .navbar a.navbar-brand{
    background-color: #B10819;
    height: 100%;
    padding: 30px;
    font-weight: bold;
    transition: all ease-in-out 0.5s;
}
.header .navbar .navbar-nav{
    margin: 0;
}
.header .navbar .navbar-nav li{
    background-color: transparent;
    transition: all ease-in-out 0.5s;
}
.header .navbar .navbar-nav li a{
    color: #191A1C;
    font-size: 17px;
    font-weight: 600;
    padding: 32px 20px;
    transition: all ease-in-out 0.5s;
}
.header .navbar .navbar-nav li:hover{
    background-color: #B10819;
}
.header .navbar .navbar-nav li:hover a{
    color: #fff;
}
.header .navbar .navbar-nav li.bg{
    background-color: #FA9300;
}
.header .navbar .navbar-nav li.bg a{
    color: #fff;
}
.header .navbar .navbar-collapse{
    justify-content: space-between;
}
.header .navbar .extras{
    display: flex;
    padding: 0;
    margin: 0;
    height: 100%;
}
.header .navbar .extras li{
    display: block;
    padding: 30px 25px; 
    font-size: 20px;
    transition: all ease-in-out 0.5s !important;
}
.header .navbar .extras li:hover{
    background-color: #B10819;
}
.header .navbar .extras li a{
    color: #FA9300;
    transition: all ease-in-out 0.5s;
    display: block;
}
.header .navbar .extras li:hover a{
    color: #fff;
}
.section .banner{
    background-color: #B10819;
    height: 100vh;
    display: flex;
    align-items: center;
}
.section .banner .text-wrap{
    padding: 50px 0;
    color: #fff;
    position: relative;
    z-index: 9999;
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-flow: column;
}
.section .banner .text-wrap h3{
    font-size: 18px;
    color: #FA9300;
}
.section .banner .text-wrap a{
    max-width: 150px;
    flex: 0 0 150px;
    color: #FA9300;
    font-weight: 600;
    border:3px solid #FA9300;
    max-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.3s;
    border-radius: 5px;
}
.section .banner .text-wrap a:hover{
    background-color: #FA9300;
    color: #fff;
}
.section .banner .img-box{
    background-color: #FA9300;
    height: 100vh;
    align-items: center;
    display: flex;
}
.section .banner .img-box img{
    position: relative;
    left: -100px;
}
.top{
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.top .text-wrap h3{
    font-size: 20px;
    text-transform: capitalize;
    margin: 0;
}
.top .text-wrap h1{
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke: 2px #FA9300;
}
.top .text-wrap h1::after{
    color: #FA9300;
}

.top .social{
    position: relative;
}
.top .social ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}
.top .social ul li{
    display: block;
    font-size: 20px;
}
.top .social ul li a{
    color: #FA9300;
}
.top .social h5 {
    transform: rotate(-90deg);
    position: absolute;
    bottom: -150px;
    right: -30px;
}
.top .social h5::after{
    width: 60px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    right: -75px;
    top: 12px;
    content: "";
}
.about{
    padding: 50px;
}
.about .img-box{
    position: relative;
}
.about .img-box::before,.about .img-box::after{
    content: "";
    width: 250px;
    height:250px;
    z-index: 99;
    position: absolute;
}
.about .img-box::before{
    border-top: 10px solid #FA9300;
    border-left: 10px solid #FA9300;
    left: -25px;
    top: -25px;
}
.about .img-box::after{
    border-bottom: 10px solid #FA9300;
    border-right: 10px solid #FA9300;
    right: -25px;
    bottom: -25px;
}
.about .img-box img{
    width: 100%;
    filter: grayscale(1);
}
.about .img-box .box{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #FA9300;
    color: #191A1C;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: #191A1C 10px solid;
    top: 30%;
    right: -100px;
}
.about .img-box .box h2{
    font-size: 70px;
    font-weight: bold;
    margin: 0;
}
.about .img-box .box h2 small{
    font-size: 50%;
}
.about .img-box .box h6{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.about .text-wrap{
    padding-left: 100px;
}
.about .text-wrap h5,.services h5{
    color: #FA9300;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
.about .text-wrap h2,.services h2{
    font-size: 36px;
    font-weight: 800;
}
.services{
    padding: 50px 0;
}
.services .panel {
    background-color: #0e0e0e;
    padding: 30px;
    margin-bottom: 30px;
    position: relative;
    border-radius: 10px;
    transition: all ease-in-out 0.5s;
}
.services .panel:hover {
    background: linear-gradient(to left, #87de1d, #FA9300);
}
.services .panel .icon {
    color: #FA9300;
    font-size: 40px;
    text-align: right;
    transition: all ease-in-out 0.2s;
}
.services .panel:hover .icon,.services .panel:hover .text h3 {
    color: #0e0e0e;
}
.services .panel .text h3 {
    font-size: 30px;
    transition: all ease-in-out 0.2s;
    font-weight: bold;
}
.services .panel .btn-set {
    position: absolute;
    bottom: -15px;
    transition: all ease-in-out 0.5s;
    right: 50px;
    opacity: 0;
}
.services .panel:hover .btn-set {
    right: 30px;
    opacity: 1;
}
.services .panel .btn-set a {
    border: 2px solid #FA9300;
    background-color: #0e0e0e;
    color: #FA9300;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    font-size: 18px;
    padding: 3px;
    text-align: center;
    display: block;
}
.portfolio{
    padding: 50px 0;
}